/* src/App.css */

/* Kontainer utama aplikasi */
.app-container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
  background-color: #2f2f2f;
  padding: 2rem;
  border-radius: 8px;
}

/* Style untuk Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #555;
  margin-bottom: 2rem;
}

.nav-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  gap: 1rem;
}

.navbar a {
  text-decoration: none;
  font-weight: 500;
  color: #646cff;
}
.navbar a:hover {
  color: #535bf2;
}

.navbar h1 {
  margin: 0;
  font-size: 1.5em;
}

/* Style untuk Form */
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #242424;
  padding: 1.5rem;
  border-radius: 8px;
  margin-bottom: 2rem;
}

form div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form label {
  font-weight: 500;
}

form input {
  padding: 0.8em;
  border-radius: 4px;
  border: 1px solid #555;
  background-color: #1a1a1a;
  color: white;
}

/* Style untuk Daftar Produk */
.product-list ul {
  list-style-type: none;
  padding: 0;
}

.product-list li {
  background-color: #242424;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 4px;
}

/* Utility classes */
.error-message {
  color: #ff6b6b;
}

.welcome-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
}